/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px => 1rem */
  font-size: 62.5%;

  /* 11px => 1rem */
  /* font-size: 68.75%; */
}

:root {
  /* Colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1fae5;
  --green-dark: #16a34a;

  /* Typography and Spacing */
  --small-text: 0.875rem;
  --extra-small-text: 0.7rem;

  /* Layout and Styling */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 0.1rem;
  --transition: 0.3s ease-in-out all;
  --max-width: 112rem;
  --fixed-width: 80rem;
  --view-width: 90vw;

  /* Shadows */
  --shadow-1: 0 0.1rem 3px rgba(0, 0, 0, 0.1), 0 0.1rem 2px rgba(0, 0, 0, 0.06);
  --shadow-2: 0 0.5rem 6px -0.1rem rgba(0, 0, 0, 0.1),
    0 2px 0.5rem -0.1rem rgba(0, 0, 0, 0.06);
  --shadow-3: 0 1rem 15px -3px rgba(0, 0, 0, 0.1),
    0 0.5rem 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 2rem 25px -5px rgba(0, 0, 0, 0.1),
    0 1rem 1rem -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--textColor);
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 1.4;
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem);
}

h2 {
  font-size: clamp(1.5rem, 3vw, 3rem);
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 2.5rem);
}

h4 {
  font-size: clamp(1rem, 2vw, 2rem);
}

h5 {
  font-size: clamp(0.875rem, 1.5vw, 1.5rem);
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40rem;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

input,
textarea {
  letter-spacing: 1.1px;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.fs-1 {
  font-size: 1rem;
}

.fs-2 {
  font-size: 2rem;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* ============= Title ============= */
.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 1rem auto 0;
}

/* =========== Scroll bar =============== */
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  border-radius: 0.6rem;
}

::-webkit-scrollbar {
  background-color: var(--primary-400);
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
  border: 0.25rem solid transparent;
  border-radius: 0.5rem;
  background-clip: padding-box;
}

/* ============ Boxes & Colors ============== */

.red-box,
.green-box {
  width: 14rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.green-box {
  background: var(--green-light);
}

.red-box {
  background: var(--red-light);
}

.red {
  color: var(--red-dark);
}

.green {
  color: var(--green-dark);
}

/* ============= Alert ============== */
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

/* ============= Loading ============= */

.loading {
  width: 4rem;
  height: 4rem;
  border: 0.5rem solid #ccc;
  border-top: 0.5rem solid var(--primary-500);
  border-radius: 50%;
  animation: spinner 1s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  border-width: 0.25rem;
  border-top-width: 0.25rem;
  border-radius: 50%;
  border-color: white transparent transparent transparent;
  width: 1.25rem;
  height: 1.25rem;
  animation: spinner 1s linear infinite;
  margin-right: 0.5rem;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ================= Modal =================== */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 110;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: openModel 0.2s ease-in-out;
}

@keyframes openModel {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes closeModel {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.modal {
  background: white;
  width: 80vw;
  max-width: 35rem;
  border-radius: 0.5rem;
  padding: 2rem 1rem 0rem 1rem;
  text-align: center;
  position: relative;
}
.modal h4 {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal .clear-btn,
.modal .confirm-btn {
  margin-top: 1rem;
}

.clear-btn {
  background-color: #f1f5f9 !important;
  color: #4b5563 !important;
  position: absolute;
  top: -2rem;
  right: -1rem;
  text-transform: lowercase !important;
  width: 2.2rem;
  height: 2.2rem;
  padding: 0 !important;
  border-radius: 50% !important;
  font-size: 1.7rem !important;
}

.clear-btn:hover {
  color: #6b7280;
  background-color: #f1f5f9;
}
.btn-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  width: fit-content;
  margin: 0 0 0 auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ============================================== */
/* =============== Table css ===================== */
/* =============================================== */
/* Table Wrapper for Responsive Design */
.table-header {
  background: var(--primary-100);
  border-bottom: 0.5rem solid var(--primary-400);
  border-radius: 0.5rem;
  padding: 0.7rem 1rem;
  width: fit-content;
  margin: auto;
  color: var(--primary-400);
  font-weight: 500;
  font-size: 1rem;
}
.table-wrapper {
  margin: 1.25rem auto;
  overflow-x: auto;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
  font-family: inherit;
  background-color: #f2f2f2;
}
.table-wrapper table .active {
  background-color: var(--primary-500);
}
.table-wrapper thead {
  background-color: var(--primary-500); /* Header background color */
  color: white;
}

.table-wrapper thead th {
  padding: 0.75rem 1rem;
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-wrapper tbody tr {
  border-bottom: 0.1rem solid #ddd;
}

.table-wrapper tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Alternate row background */
}

.table-wrapper tbody td {
  padding: 0.75rem 1rem;
  text-align: left;
  color: #333;
  text-align: center;
  font-size: 1.2rem;
}
td.td-name {
  color: var(--primary-600) !important;
  cursor: pointer;
}
td.td-date {
  color: #666 !important;
  min-width: 16rem;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}
td.td-notes {
  font-size: 1rem !important;
  min-width: 20rem !important;
  line-height: 1.6;
  font-style: italic;
  letter-spacing: 1.1px;
  color: var(--grey-400);
}
.td-amount {
  display: flex;
  justify-content: center;
  align-items: center;
}
.td-img {
  width: 4rem;
  height: 4rem;
}

.td-transaction-type {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.no-content {
  padding: 2rem 0;
}
.no-content > img {
  width: 8rem;
  margin: auto;
  display: block;
}
.no-content p {
  color: var(--grey-400);
  letter-spacing: 1.1px;
}
/* ========= Table Transaction Style ========= */
.circle-red,
.circle-green {
  width: 1rem;
  height: 1rem;
  display: block;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-green {
  color: var(--green-dark);
  border: 0.1rem solid var(--green-dark);
  background: var(--green-light);
}
.circle-red {
  color: var(--red-dark);
  border: 0.1rem solid var(--red-dark);
  background: var(--red-light);
}

/* Hover Effect for Rows */
.table-wrapper tbody tr:hover {
  background-color: var(--primary-100);
}

/* Responsive Table Adjustments */
.table-wrapper table {
  min-width: 37rem;
}

@media screen and (max-width: 768px) {
  .table-wrapper table {
    font-size: 1rem;
  }
}

/* Add Borders to Table */
.table-wrapper th,
.table-wrapper td {
  border: 0.1rem solid #ddd;
}

/* ======================================== */
/* ============= Buttons ================== */
/* ======================================== */
.btn-group {
  background: var(--primary-100);
  width: fit-content;
  margin: 0 auto 2rem auto;
  padding: 0.8rem;
  border-radius: 0.8rem;
}

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: none;
  border-radius: var(--borderRadius);
  padding: 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  font-size: 1.2rem;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}

/* ============== Submit btn ==============  */
.btn-submit {
  width: 100%;
  padding: 1.5rem 0.75rem;
  background-color: var(--primary-500);
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: var(--transition);
}

.btn-submit:hover {
  background-color: var(--green-dark);
}

.btn-submit:disabled {
  background-color: #e3e3e3; /* equivalent to disabled:bg-gray-400 */
  cursor: not-allowed;
}
/* ============ Upload Btn============== */
.btn-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.7rem;
  background: var(--grey-600) !important;
  border-radius: 0.5rem !important;
}
.btn-upload:hover {
  background: var(--grey-700) !important;
}
.btn-upload svg {
  margin-right: 1rem;
  width: 2rem;
}

/* =============== Pdf Btn ==================== */
.btn-pdf {
  padding: 1rem 2rem;
  background-color: #16a085;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  transition: var(--transition);
}
.btn-pdf:hover {
  background-color: #1b5f52;
}

/* =============== Add, Update, Delete Btns ================= */

.btn-add {
  padding: 0.5rem 0.8rem !important;
  gap: 0.2rem !important;
}

.btn-delete {
  background: var(--red-light);
  color: var(--red-dark);
  border: 0.1rem solid var(--red-dark);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
.btn-update {
  margin-right: 0.5rem;
  background: var(--green-light);
  color: var(--green-dark);
  border: 0.1rem solid var(--green-dark);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
.btn-update,
.btn-delete {
  cursor: pointer;
  transition: var(--transition);
}
.btn-delete:hover {
  background: var(--red-dark);
  color: var(--red-light);
}
.btn-update:hover {
  background: var(--green-dark);
  color: var(--green-light);
}
/* ================ PaymentDate Btn ================== */
.btn-paymentdate {
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
}
.btn-paymentdate a {
  color: #ffffff;
  font-size: 0.85rem;
}

/* ================= Red & Green Btns ================== */
.btn-red,
.btn-green {
  padding: 0.75rem 2rem;
}
.btn-red {
  background: var(--red-light);
  color: var(--red-dark);
  border: 0.1rem solid var(--red-dark);
}
.btn-green {
  background: var(--green-light);
  color: var(--green-dark);
  border: 0.1rem solid var(--green-dark);
}

.btn-red:hover {
  background: var(--red-dark);
  color: var(--red-light);
}
.btn-green:hover {
  background: var(--green-dark);
  color: var(--green-light);
}

/* =============== Back Btn ============== */
.btn-back {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 100;
  color: #d1d5db;
  width: 4rem;
  transition: var(--transition);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}
.btn-back:hover {
  color: #e5e7eb;
}
/* =============== Logout Btn ============== */
.logout-btn {
  cursor: pointer;
  background: none;
  border: none;
  color: var(--red-light) !important;
  display: flex;
  align-items: center;
  transition: var(--transition);
  gap: 0.5rem;
}
.logout-btn svg {
  font-size: 1.5rem;
}
.logout-btn:hover {
  color: var(--red-dark) !important;
}
/* -----------[Global Btns Style]-------- */

.btn-add,
.btn-paymentdate,
.btn-submit,
.btn-pdf {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.btn-add svg,
.btn-paymentdate svg,
.btn-pdf svg {
  font-size: 1.8rem;
}
/* ============================== */
/* ============ Forms ============*/
/* ============================== */
.form {
  width: var(--view-width);
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 0.1rem solid var(--grey-200);
}
.form-textarea {
  height: 7rem;
}
::placeholder {
  color: var(--grey-400);
  font-size: 1rem;
}

/* ============== Register ================ */

.register-container {
  position: fixed;
  /* height: 100vh; */
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 35rem;
  margin: auto;
  display: grid;
  place-items: center;
}

.form-container {
  width: 100% !important;

  box-shadow: var(--shadow-4);
  padding: 2rem !important;
}

.register-form {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.form-shadow {
  box-shadow: var(--shadow-4);
}
.form-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-500);
}

.btn-submit-container {
  margin-top: 1rem;
}

.form-link {
  text-align: center;
}

.form-text {
  margin-left: 0.5rem;
  text-decoration: underline;
  color: #3b82f6;
}

.form-text:hover {
  text-decoration: none;
}

/* ============== Search Form ============== */
.search-form {
  display: grid;
  grid-template-columns: 1fr auto;
}
.search-form input:focus {
  border-color: var(--primary-500);
  outline: none;
}

.form-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* ============== Form Controls ============== */
.form-control {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.label {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--grey-900);
  margin-bottom: 0.25rem;
  text-transform: capitalize;
}

.input {
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 0.1rem solid var(--grey-300);
  font-size: 1.2rem;
  width: 100%;
  box-sizing: border-box;
  transition: var(--transition);
  font-family: inherit;
}

.input:focus {
  border-color: var(--primary-500);
  outline: none;
}

.input-error {
  border: 0.1rem solid var(--red-dark);
  background: var(--red-light);
}

.input-error:focus {
  border-color: var(--red-dark);
}

.text-error {
  font-size: var(--extra-small-text);
  color: var(--red-dark);
  transform: translate(1rem, 0.3rem);
}

/* ============== Select ============== */
select,
option {
  font-family: inherit;
}

.select-error {
  border: 0.1rem solid var(--red-dark);
  background: var(--red-light);
}

.select-error:focus {
  border: 0.1rem solid var(--red-dark);
}

/* ============== Text Area =============== */
.no-resize-textarea {
  width: 100%;
  height: 5rem;
  resize: none;
  padding: 0.5rem;
  border: 0.1rem solid #e5e7eb;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-family: inherit;
}

/* ============== Filter form ============= */
.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 1rem;
}

.filter-form > li {
  background: var(--primary-100);
  color: var(--primary-700);
  font-size: 1.2rem;
  font-weight: 600;
  width: fit-content;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
}

.filter-form > li:hover {
  background: var(--primary-200);
}

/* ========================================= */
/* =============[ PAGES Style ]============= */
/* ========================================= */
.page {
  width: 80%;
  margin: 0 auto;
}
.page-content {
  background: var(--white);
  padding: 1rem;
}
/* ============== Navbar ============== */
.navbar {
  background: var(--white);
}

.nav-center {
  /* width: var(--view-width);
  max-width: var(--max-width); */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  width: 80%;
  margin: 0 auto;
}

.logo {
  font-size: clamp(2.5rem, 3vw, 2.5rem);
  user-select: none;
  color: var(--primary-500);
  font-weight: 700;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.logo > span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.logo > span > span,
.logo > span > a {
  color: var(--primary-800);
}
.nav-links {
  display: flex !important;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  overflow: hidden;
}

.nav-link {
  color: var(--grey-900);
  padding: 0.5rem 0.5rem 0.5rem 0;
  transition: var(--transition);
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.nav-link:hover {
  color: var(--primary-500);
}

.nav-actions {
  display: none;
  position: absolute;
  right: 3rem;
}

.active {
  color: var(--primary-500);
}

@media (min-width: 768px) {
  .nav-center {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links {
    height: auto !important;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
  }
}

/* ========== Page Content============= */

.header-title {
  color: var(--primary-800);
  font-weight: 400;
  font-size: 1.5rem;
  /* background: #e0e7ff; */
  padding: 0.7rem 1.7rem;
  width: fit-content;
  border-radius: 0.5rem;
}

.page-section {
  background: var(--white);
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
}

.section-logo {
  position: absolute;
  right: 1rem;
  top: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  gap: 0.5rem;
}

.section-logo > img {
  width: 3.5rem;
}

.section-logo p {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-800);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10rem;
  background-color: var(--primary-100);
  padding: 0.4rem 0.6rem;
  border-radius: var(--borderRadius);
  transform: translateY(-1.4rem);
}

.page-section .info {
  font-size: 1.3rem;
  letter-spacing: 1.1px;
  display: flex;
  flex-direction: column;
}
.page-section .info .data.name {
  color: var(--primary-500);
  cursor: pointer;
}
.page-section .info .data.name:hover {
  color: var(--primary-800);
}
.amount {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.amount-container {
  margin: auto;
  margin-bottom: 1.5rem;
  border-bottom: 0.1rem solid var(--grey-200);
  width: fit-content;
  padding: 1rem 0;
}

.amount-message {
  text-align: center;
  display: block;
  color: var(--grey-600);
  margin: 0.75rem auto;
  font-size: 1.2rem;
}

.total-amount {
  color: var(--primary-800);
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-amount-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary-200);
}

.line {
  height: 4rem;
  width: 0.1rem;
  background: var(--grey-200);
}

/* ============== Error Page ============== */
.error-page {
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-page img {
  width: 90vw;
  max-width: 60rem;
  display: block;
  margin: -3rem auto 2rem;
}

.error-page h3 {
  margin-bottom: 0.5rem;
}

.error-page p {
  line-height: 1.5;
  margin: 0.5rem 0 1rem;
  color: var(--grey-500);
}

.error-page a {
  color: var(--primary-500);
  text-transform: capitalize;
}

/* ============ Tabs ================ */
.tab-wrap {
  transition: var(--transition);
  border-radius: 0.6rem;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  background-color: #fff;
  margin: 15px 0;
}

.tab {
  display: none;
}

.tab:checked:nth-of-type(1) ~ .tab__content {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(rem);
  text-shadow: 0 0 0;
}

.tab:first-of-type:not(:last-of-type) + label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tab:not(:first-of-type):not(:last-of-type) + label {
  border-radius: 0;
}

.tab:last-of-type:not(:first-of-type) + label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.active-tab {
  background-color: #fff !important;
  box-shadow: 0 -0.1rem 0 #fff inset !important;
  cursor: default !important;
  border: 0.1rem solid #f2f2f2 !important;
}

.tab + label:hover {
  box-shadow: 0 -0.1rem 0 #fff inset;
  background-color: #fff;
}

.tab + label {
  box-shadow: 0 -0.1rem 0 #eee inset;
  border-radius: 0.6rem 0.6rem 0 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #333;
  flex-grow: 3;
  text-align: center;
  background-color: #f2f2f2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
  height: 5rem;
  box-sizing: border-box;
  padding: 1.5rem;
}

.tab + label:hover {
  background-color: #f9f9f9;
  box-shadow: 0 0.1rem 0 #f4f4f4 inset;
}

.tab__content {
  padding: 1rem 2.5rem;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0;
  left: 0;
  transform: translateY(-3px);
  border-radius: 0.6rem;
}

/* Media queries for small devices*/
@media (max-width: 768px) {
  .page {
    width: 100%;
  }
  .nav-actions {
    display: block !important;
  }

  /* .modal {
    max-width: 30rem;
  } */

  .flex {
    gap: 0.5rem;
  }

  .btn-add span {
    display: none;
  }

  .register-form {
    width: 100% !important;
    padding: 2rem !important;
  }

  .red-box,
  .green-box {
    width: 10rem;
  }

  .section-logo > img {
    width: 3rem;
  }

  td.td-date {
    min-width: 10rem;
  }
}
